<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding  name="BasicBindingMtom" messageEncoding="Mtom" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="DataServices.EmployeeMgmtService">
        <endpoint address="mtom" binding="basicHttpBinding"  bindingConfiguration="BasicBindingMtom" contract="DataServices.IEmployeeMgmtService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <protocolMapping>
      <add scheme="http" binding="basicHttpBinding" bindingConfiguration="" />
      <add scheme="net.tcp" binding="netTcpBinding" bindingConfiguration="" />
      <add scheme="net.pipe" binding="netNamedPipeBinding" bindingConfiguration="" />
      <add scheme="net.msmq" binding="netMsmqBinding" bindingConfiguration="" />
        <add binding="webHttpBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="abc" connectionString=" Data Source=(LocalDB)\v11.0;AttachDbFilename=E:\EmployeeManagement\EmployeeManagement\DataServices\App_Data\ThunderDB.mdf;Integrated Security=True;"/>
    
  </connectionStrings>
</configuration>
