@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee Info</h2>

<div>
    <div>@Html.ActionLink("View", "Details", "Employee")</div>
    <div>@Html.ActionLink("Edit", "Edit", "Employee")</div>
    <div>@Html.ActionLink("Create", "Create", "Employee")</div>
</div>
